bin/local-vars.sh
output/gaussian/*.png

output/gaussian/*.png
output/months/jan/*.png
output/months/feb/*.png
output/months/mar/*.png
output/months/apr/*.png
output/months/may/*.png
output/months/jun/*.png
output/months/jul/*.png
output/months/aug/*.png
output/months/sep/*.png
output/months/oct/*.png
output/months/nov/*.png
output/months/dec/*.png

output/aggregate.png
